html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

main{
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

.mainButton {
    border: none;
    padding: 0px;
    background-color: #e4e3e8;
}

.avatarContainer {
    position: relative;
    width: 2vw;
    height: 3.5vh;
}

.avatarText {
    position: absolute;
    top: 63%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 2vw;
    height: 3.5vh;
}

.app{
    height: 100vh;
    width: 100vw;
}